  name: Pull on push (Mac mini)

  on:
    push:
      branches:
        - main

  jobs:
    pull:
      runs-on: self-hosted
      steps:
        - name: Git pull
          run: |
            cd ~/develop/idea-lab/idea-lab
            git fetch --all
            git reset --hard origin/main